{%  extends 'base.html' %}
{% block start%}
</head>
<body>
    {% include 'nav.html' %}
<section class="mt-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
               <h1 class="text-primary">About CodeTrack: </h1>
                <h4 class="text-muted">Revolutionizing Code Tracking Across LeetCode, CodeChef, and CodeForces</h4> 
                <p class="my-3">Welcome to CodeTrack, your one-stop solution for tracking your coding journey on three of the most popular coding platforms - LeetCode, CodeChef, and CodeForces. At CodeTrack, we're on a mission to empower programmers and competitive coders like you with the tools and insights you need to excel in your coding endeavors</p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img src="/static/img1.webp" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text-primary"><h1>Our Story</h1> <hr style="width: 100%"></div> <br>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mt-5">
                <img class="img-fluid" src="/static/about2.avif" alt="">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h4 class="display-6 text-justify text-muted font-weight-none">
                    <small>A tiny group of dedicated programmers huddled around a table, late into the night, fueled by a shared passion for coding. It was in these moments of camaraderie, amidst lines of code and debugging sessions, that the spark for CodeTrack was ignited. We were united by the thrill of solving complex problems, the excitement of contests, and the continuous pursuit of self-improvement through coding.
                        <br><br>
                        As we delved deeper into the world of competitive programming and software development, we began to appreciate the vastness of the coding universe. There was a revelation that struck us: coders, whether they are competitive enthusiasts aiming for prestigious ranks or developers crafting real-world solutions, all share a common thread - the need for tracking, managing, and improving their coding skills
                    </small>
                </h4>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="text-primary"><h1>Our Mission</h1> <hr style="width: 100%"></div> <br>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h4 class="display-6 text-justify text-muted font-weight-none">
                    <small>
                        Our mission is clear: <b>to provide a platform that simplifies the code tracking process across multiple coding platforms.</b> We understand the challenges that programmers face when trying to keep tabs on their progress, submissions, and problem-solving history on LeetCode, CodeChef, and CodeForces. CodeTrack was built to address these challenges and make it easier for you to focus on what you do best: solving problems and becoming a better coder.
                    </small>
                </h4>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img class="img-fluid" src="/static/about3.webp" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text-primary"><h1>What Sets Us Apart</h1> <hr style="width: 100%"></div> <br>
        <div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> <span class="text-primary font-weight-bold">Comprehensive Code Tracking:</span> 
                    CodeTrack allows you to seamlessly integrate your coding profiles from LeetCode, CodeChef, and CodeForces into one unified dashboard. Gone are the days of juggling between multiple tabs and websites to check your progress. With CodeTrack, all your coding data is just a click away.
                </li>
                <li class="list-group-item"> <span class="text-primary font-weight-bold">Detailed Analytics:</span> 
                    We provide in-depth analytics to help you understand your strengths and weaknesses. Visualize your performance over time, identify your most challenging topics, and track your progress as you tackle more problems.                
                </li>
                <li class="list-group-item"> <span class="text-primary font-weight-bold">Customized Learning Path:</span> 
                    CodeTrack's intelligent algorithm recommends problems and topics based on your strengths and areas that need improvement. This personalized learning path ensures you're always working on problems that align with your skill level and goals.                </li>
                <li class="list-group-item"> <span class="text-primary font-weight-bold">Competitive Insights:</span> 
                    For those passionate about competitive coding, CodeTrack offers valuable insights into upcoming contests, problem difficulty levels, and your ranking among peers. Stay ahead of the competition with our timely notifications and recommendations.                
                </li>
                <li class="list-group-item"> <span class="text-primary font-weight-bold">Community and Collaboration: </span> 
                    Connect with like-minded coders, share your experiences, and collaborate on solving problems together. CodeTrack fosters a supportive community where knowledge exchange thrives                </li>
                <li class="list-group-item"> <span class="text-primary font-weight-bold">Privacy and Security: </span> 
                    We prioritize your privacy and data security. Your coding profiles and data are encrypted and stored securely, giving you peace of mind while using our platform.                </li>
            </ul>
        </div>

    </div>

</section>
{% include 'footer.html'%}
{%endblock%}