
<!-- use it as it is... -->

<footer class="site-footer bg-light  mt-5" id="contacts">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 mt-5">
                <h6>About</h6>
                <p class="text-justify">
                    "Thank you for choosing Coderack to supercharge your coding journey! We appreciate your trust and are dedicated to providing you with the best tools and insights to excel in your coding endeavors. 
                    Your support fuels our commitment to continuous improvement, as we strive to make your coding experience seamless and rewarding. We're here to simplify the way you track and manage your progress across coding platforms like LeetCode, CodeForces, and CodeChef. 
                    Together, we're building a vibrant community of coders who inspire and learn from each other. 
                    Your achievements are our achievements, and we can't wait to celebrate many more milestones with you. Happy coding!" </p>
            </div>
            <div class="col-xs-3 col-md-3 mt-5">
                <h6>Quick Links</h6>
                <ul class="footer-links flex-row">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#chapters">Leaderboard</a></li>
                    <li><a href="#projects">Search a user</a></li>
                    <li><a href="#contacts">Contacts</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
                    <a href="#">CodeTrack</a>.
                </p>
            </div>
        </div>
    </div>
</footer>