{% extends 'base.html' %}
{% block start%}
</head>

<body>
    {% include 'nav.html' %}
    <section class="mt-5 pt-4">
        <div class="container justify-content-center row mt-5 pt-5" style="margin: auto;">
            <form method="post" class="col-lg-6 col-md-8 col-sm-12">
                {% csrf_token %}
                <h1 class="text-center m-5">Show Username</h1>
                <div class="form-outline mb-4">
                    <input type="email" name="email" class="form-control" placeholder="Enter your email"
                        required="required" />
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4">Show Username</button>
            </form>
        </div>
    </section>
    {%endblock%}