{%extends 'base.html' %}
{% block start%}
</head>
<body>
{% include 'nav.html' %}
<section class="site-banner py-5">
    <div class="container py-5">
        <div class="row py-2 m-5">
            <div class="col-lg-6 col-md-12 site-title py-5">
                <h2 class="title-text"> Welcome to</h2>
                <h1 class="title-text text-primary"><span class="text-dark">Code</span>Track</h1>
                <h4 class="title-text"> Your Ultimate Coding Tracker Platform</h4>
                <p class="text-dark">
                    Are you an aspiring coder or a seasoned developer looking to conquer coding challenges on platforms like LeetCode, CodeForces, and CodeChef? 
                    Managing your progress on multiple coding platforms can be a daunting task, but Coderack is here to simplify it for you.</p>
                <div class="site-buttons py-2">
                    <button class=" px-5 btn btn-lg btn-primary">Get Started</button>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 banner-image">
                <img src="/static/competitive.png"
                    alt="banner" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="codetrack">
    <div class="container text-center">
        <div class="row text-center" style="--bs-columns:3; --bs-gap: 2rem;">
            <div class="p-3 col-sm-12 col-md-4 col-lg-3 text-left">
                <h3 class="title-text text-primary">What is Coderack?<hr class="mr-4"></h3> 
                <p>
                    Coderack is your one-stop solution for tracking and managing your coding journey across various platforms. 
                    We understand that every coder has their preferred platforms for honing their skills and participating in competitions. 
                    With Coderack, you can now keep all your coding progress, statistics, and contests in one place.
                </p>
                <button class="btn btn-outline-primary">
                    Learn more...
                </button>
            </div>
            <!-- {% load static % -->
            <div class=" p-3 col-sm-12 col-md-4 col-lg-5"><img class="img-fluid" src="/static/img2.webp" alt=""></div>
            <div class=" col-sm-12 col-md-4 col-lg-4">
                <h3 class="text-left text-primary">Our Key Features<hr class="mr-5"></h3> 
                <ul class="list-group list-group-flush text-left">
                    <li class="list-group-item"> <span><b class="text-primary">Unified Dashboard:</b> Get a bird's-eye view of your progress on LeetCode, CodeForces, and CodeChef, all in one place.</span></li>
                    <li class="list-group-item"> <span><b class="text-primary">Progress Tracking:</b> Monitor your problem-solving skills, contest performance, and coding streaks effortlessly.</span></li>
                    <li class="list-group-item"> <span><b class="text-primary">Competitive Insights:</b> Compare your performance with peers and identify areas for improvement.</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="last-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7 mt-4">
                <img class="img-fluid" src="/static/coding.gif" alt="">
            </div>
            <div class="col-sm-12 col-md-5 mt-4 pt-4 text-center">
                <div class="mt-5 py-3"></div>
                <div class="m-3">
                <h2 class="text-dark">TaDaa!</h2>
                <p>You've reached the end of the page. We're thrilled to have joined you on this journey, and to see what lies ahead.
                    Continue to explore, learn, and innovate. CodeTrack will be here to support you every step of the way.
                </p>
                <a href="/register"><button class="btn btn-primary mt-3 px-5">Join Now</button></a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}

{%endblock%}

