{% extends 'base.html' %}

{% block start %}

<!-- % include 'login.html' %} -->

<div class="mt-5 py-5"></div>
    <div class="container justify-content-center row" style="margin: auto;">
    <form class="col-lg-6 col-md-6 col-sm-12">
        {% csrf_token %}
        <h1 class="text-center m-5">Log In</h1>
        <div class="form-outline mb-4">
          <input type="username" id="form2Example1" class="form-control" placeholder="Enter your Username"/>
        </div>
        <div class="form-outline mb-4">
          <input type="password" id="form2Example2" class="form-control" placeholder="Enter your password" />
        </div>
        <div class="row mb-4">
          <div class="col">
            <a href="#!">Forgot password?</a>
          </div>
        </div>
        <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
        <div class="text-small text-center">
            <p>Not a member? <a href="./register">Register</a></p>
            <p>Forgot Password? <a href="./register">Reset Password</a></p>
            <p>Forgot Username? <a href="./register">See Username</a></p>
        </div>
      </form>
    </div>
    <div class="mt-5 py-5"></div>
     

    {% endblock %}