<section class="general-info">
    <div class="text-center pt-5 mt-4">
        <h1 class="h-1 text-primary" style="font-size: 3rem;">John Wesley</h1>
        <h3><i class="fa fa-user p-2 text-muted"></i>wesleyhere</h3>
        <div class="container py-5 ">
            <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-12 ">

                    <!-- <img class="img-fluid" src="/static/pbar.png" alt=""> -->
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="progress-container ">
                            <div class="circular-progress" data-inner-circle-color="white" data-percentage="75"
                                data-progress-color="#007bff" data-bg-color="lightgrey">
                                <div class="inner-circle"></div>
                                <p class="percentage">0%ile</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <h5>Max: <span class="text-primary">75%ile </span>on Leetcode</h5>
                    </div>
                </div>
                <div class="col-lg-6 bg-light col-md-6 col-sm-12 py-5">
                    <div class="h-100" id="linechart_material"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="border-right col-xl-4 col-lg-4 col-md-12 col-sm-12 justify-content-center bor">
                <div class="container logo-n-head">
                    <div class="d-flex flex-row justify-content-center">
                        <div><img class="img-fluid" src="/static/lc.webp" alt="" style="max-width: 3rem;"></div>
                        <h1 class=""> Leetcode</h1>
                    </div>
                </div>
                <div class="username">
                    <h5 style="color: rgb(175, 175, 175);"><i class="fa fa-user"></i> wesleyjohn</h5>
                </div>

                <div class=" pt-2 rating d-flex align-items-center justify-content-center">
                    <div class="bg-light rounded border border-0 " style="width: 10rem; box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.334);">
                    <h6 class="mt-1 mb-0 p-0 text-muted">Current rating:</h6>
                    <h1 class="mt-0 mb-1 p-0">1518</h1>
                    </div>
                </div>
                <div class="pt-3 precentile d-flex align-items-center justify-content-center">
                    <div class="progress-container">
                        <div class="circular-progress" data-inner-circle-color="white" data-percentage="75"
                            data-progress-color="green" data-bg-color="lightgrey">
                            <div class="inner-circle"></div>
                            <p class="percentage">0%ile</p>
                        </div>
                    </div>
                </div>
                <div class="questions mt-4 p-2">
                    <h6 class="text-muted m-0">Solved Questions</h6>
                    <h1 class="text-primary m-0 p-0">562</h1>
                </div>

                <div class="graph bg-light p-3 m-5" style="height: 20rem;"></div>

            </div>
            <div class="d-flex" style="height: 10rem;">
                <div class="vr"></div>
            </div>
            <div class="vr"></div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="logo-n-head container">
                    <div class="d-flex flex-row justify-content-center">
                        <div><img class="img-fluid p-1" src="/static/cf.png" alt="" style="max-width: 3rem;"></div>
                        <h1 class=""> Code<span style="color: rgb(58, 58, 125);">Forces</span></h1>
                    </div>
                </div>
                <div class="username">
                    <h5 style="color: rgb(175, 175, 175);"><i class="fa fa-user"></i> johnwesleycodes</h5>
                </div>
                <div class=" pt-2 rating d-flex align-items-center justify-content-center">
                    <div class="bg-light rounded border border-0 " style="width: 10rem; box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.334);">
                    <h6 class="mt-1 mb-0 p-0 text-muted">Current rating:</h6>
                    <h1 class="mt-0 mb-1 p-0">1208</h1>
                    </div>
                </div>
                <div class="pt-3 precentile d-flex align-items-center justify-content-center">
                    <div class=" progress-container">
                        <div class="circular-progress" data-inner-circle-color="white" data-percentage="62"
                            data-progress-color="#cc0000" data-bg-color="lightgrey">
                            <div class="inner-circle"></div>
                            <p class="percentage">0%ile</p>
                        </div>
                    </div>
                </div>
                <div class="questions mt-4 p-2">
                    <h6 class="text-muted m-0">Solved Questions</h6>
                    <h1 class="text-primary m-0 p-0">1276</h1>
                </div>

                <div class="graph bg-light p-5 m-5 m-5" style="height: 20rem;"></div>
            </div>
            <div class="border-left col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="logo-n-head container">
                    <div class="d-flex flex-row justify-content-center">
                        <div><img class="img-fluid" src="/static/cc.png" alt="" style="max-width: 3rem;"></div>
                        <h1 class="" style="color: darkgoldenrod;">CodeChef</h1>
                    </div>
                </div>
                <div class="username">
                    <h5 style="color: rgb(175, 175, 175);"><i class="fa fa-user"></i> wesleyeyey</h5>
                </div>
                <div class=" pt-2 rating d-flex align-items-center justify-content-center">
                    <div class="bg-light rounded border border-0 " style="width: 10rem; box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.334);">
                    <h6 class="mt-1 mb-0 p-0 text-muted">Current rating:</h6>
                    <h1 class="mt-0 mb-1 p-0">1378</h1>
                    </div>
                </div>
                <div class="pt-3 precentile d-flex align-items-center justify-content-center">
                    <div class=" progress-container ">
                        <div class="circular-progress" data-inner-circle-color="white" data-percentage="67"
                            data-progress-color="darkgoldenrod" data-bg-color="lightgrey">
                            <div class="inner-circle"></div>
                            <p class="percentage">0%ile</p>
                        </div>
                    </div>
                </div>
                <div class="questions mt-4 p-2 ">
                    <h6 class="text-muted m-0">Solved Questions</h6>
                    <h1 class="text-primary m-0 p-0">176</h1>
                </div>
                <div class="graph bg-light p-5 m-5 m-5" style="height: 20rem;"></div>

            </div>
        </div>
    </div>


</section>