{% extends 'base.html' %}
{% block start%}
</head>

<body>
    {% include 'nav.html' %}
    <section class="mt-5 pt-4">
        <div class="container justify-content-center row mt-5 pt-5" style="margin: auto;">
            <form method="post" class="col-lg-6 col-md-8 col-sm-12">
                {% csrf_token %}
                <h1 class="text-center m-5">Set Password</h1>
                <div class="form-outline mb-4">
                    <input type="password" name="password" class="form-control" placeholder="Enter your password"
                        required="required" />
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4">Set Password</button>
                <ul class="list-group-flush text-left">
                    <p class="mt-4"> <span class="font-weight-bold">NOTE1 :</span> Account will be created after
                        setting password</p>
                        <p> <span class="font-weight-bold">NOTE2 :</span> Select a strong password by yourself</p>
                        
                    </ul>
                </form>
        </div>
    </section>


    {%endblock%}