{%extends 'base.html' %}
{% block start%}
</head>
<body>
  {% include 'nav.html'%}
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-lg-4 col-lg-12 col-sm-12" >
        <h2 class="text-muted">Manage Sites/Generate Token</h2>
        <div class="login">
                {% csrf_token %}
                <ul class="mt-5 list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <h6><i class="fa fa-bell mx-2"></i>Alter notifications</h6>
                            <a href="./notification" class="btn btn-primary "> <span class="mx-4">Alter</span></a>
                        </div>
                    </li>
                    <li class="mt-2 list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <h6><i class="fa fa-university mx-2"></i>Change or Add institute</h6>
                            <a href="./institute" class="btn btn-primary "> <span class="mx-4">Edit</span></a>
                        </div>
                    </li>
                    <li class=" mt-2 list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <h6><img class="mr-2" src="/static/lc.webp" style="height: 1.4rem;">Change or Add Leetcode Account</h6>
                            <a href="./leetcode_name" class="btn btn-primary "> <span class="mx-4">Edit</span></a>
                        </div>
                    </li>
                    <li class=" mt-2 list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <h6><img class="mr-2" src="/static/cf.png" style="height: 1.4rem;">Change or Add CodeForces Account</h6>
                            <a href="./codeforces_name" class="btn btn-primary "> <span class="mx-4">Edit</span></a>
                        </div>
                    </li>
                    <li class=" mt-2 list-group-item border-bottom">
                        <div class="d-flex justify-content-between align-items-center">
                            <h6><img class="mr-2" src="/static/cc.png" style="height: 1.4rem;">Change or Add CodeChef Account</h6>
                            <a href="./codechef_name" class="btn btn-primary "> <span class="mx-4">Edit</span></a>
                        </div>
                    </li>
                </ul>
                    <br><br>
                
            
        </div>
      </div>
    </div>
  </div>
{%endblock%}